<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <a href="/new">Add a message</a>
    <section class="message-container">
      <% if(messages) { %>
        <% messages.forEach(message=> { %>
          <section class="message">
            <p><%= message.text%></p>
            <p>from <%= message.user %></p>
            <p>added on <%= message.added %></p>
          </section>
      <% }) %> <% } %>
    </section>
  </body>
</html>
